body {
    font-size: 2rem;
    margin: 0;
    height: 100vh;
}

header {
    margin: 0;
    position: absolute;
}

#hdr {
    margin: 0;
    width: 99vw;
    display: flex;
    justify-content: space-between;
    padding: 10px 5px 10px 5px;
}

#scoreView {
    display: grid;
    place-items: center;
    background-color: rgb(165, 96, 165);
    height: 25vh;
    font-size: 50px;
}

.taskCard {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px blue;
    height: 400px;
    width: 300px;
    /* border: 1px dashed black; */
}

.scrollable-card {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.content-scrollable {
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    /* padding: 10px; */
}

.scrollable-card::-webkit-scrollbar {
    width: 1px;
}